<!DOCTYPE html>
<html lang="en">

    <%- include("./layout/head")%>

    <body>
        <h1>Inicio por ejs</h1>
        <p>Mi dato secreto es que mi nombre es: <%= variable1 %></p>
    </body>
</html>